/* font poppins useing */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color:  #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
main{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*-----------------------
header style is starts 
------------------------*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #562EFF;
    height: 94px;
    width: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
    /* margin-left: 285px; */
}

.logo img{
    height: 51px;
    width: 40px;
    
}

.logo h2{
    margin-left: 15px;
    color: #FFFFFF;
}

.nav-catagory{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 289px; */
}

.nav-catagory a{
    margin-right: 36px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

/* --------------------
Top player style field 
----------------------*/
.container{
    
    width: 870px;
    background-color: #FFFFFF;
    margin-top: 21px;
    padding: 30px;
    border-radius: 5px;
}

.players h2{
    margin-top: 3px;
    margin-bottom: 40px;
    font-size: 24px;
}

.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
   
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-size: 18px;
}

hr{
    margin-top: 29px;
    margin-bottom: 11px;
}
/* ---------------------
top blog style start 
--------------------- */


.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    margin-bottom: 12px;
    margin-top: 11px;
}

.blog-feature{
    display: flex;
    align-items: center;
}

.blog-feature img{
    height: 117px;
    width: 117px;
    margin-right: 16px;
}

.blog-details a{
    text-decoration: none;
}

.blog-heading{
    font-size: 20px;
}


/*--------------------
courses style starts
---------------------*/

.course{
    display: flex;
    justify-content: space-between;
 }
 .course-details{
    width: 252.42px;
    height: 269.79px;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 10px 10px 30px 30px rgba(0, 0, 0, 0.05);
 }
.course-details img{
    width: 224px;
    height: 104px;
    border-radius: 15px;
 }
 .rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 /*---------------------
  Media Queries starts 
  ----------------------*/

  /* For mobile device */

 @media only screen and (max-width:688px) {

    nav{
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    .container{
        width: 100%;
    }
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }

    .player{
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        flex-direction: column;
        align-items: center;
    }
    .course-details{
        height: auto;
        margin-bottom: 20px;
        width: auto;
    }
     
 }